<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<!-- Database -->

	<connectionStrings>

		<add name="DefaultConnection"
			 connectionString="Host=localhost;Port=5432;Database=restaurant_app_db;Username=postgres;Password=1q2w3e"
			 providerName="Npgsql" />

	</connectionStrings>

	<!-- Application Settings -->

	<appSettings>

		<!-- Discounts -->

		<add key="MenuDiscountPercent"
			 value="10"/>

		<add key="OrderDiscountPercent"
			 value="15"/>

		<add key="MinimumOrderForDiscount"
			 value="150"/>

		<!-- Delivery -->

		<add key="MinimumOrderForFreeDelivery"
			 value="100"/>

		<add key="DeliveryFee"
			 value="20"/>

		<!-- Statistics -->

		<add key="OrdersThreshold"
			 value="5"/>

		<add key="DaysThreshold"
			 value="30"/>

		<!-- Stock -->

		<add key="LowStockThreshold"
			 value="5"/>

	</appSettings>

</configuration>